#preloader{
    position: absolute;
    height:100vh;
    width:100vw;
    overflow: hidden;
    background-color: var(--bg-color);
    color:white;
}

.hidePreloader{
    animation-name: fadeout;
    animation-duration: 1s;
}

#preloader .spinner-border{
    width:80px;
    height:80px;
    margin:auto;
    position: absolute;
    left:calc(50% - 40px);
    top:calc(50% - 40px);
}