.mobile-only {
  display: none !important;
  @media only screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
    display: unset !important;
  }
}
.tablet-only {
  display: none !important;
  @media only screen and (max-device-width: 989px) and (-webkit-min-device-pixel-ratio: 1) {
    display: unset !important;
  }
  @media only screen and (min-device-width: 989px) and (max-device-height: 680px) and (-webkit-min-device-pixel-ratio: 1) {
    display: unset !important;
  }
}
.desktop-only {
  @media only screen and (max-device-width: 989px) {
    display: none !important;
  }
  @media only screen and (max-device-height: 680px) {
    display: none !important;
  }
}

// .device-rot-error {
//   display: none !important;
//   @media only screen (min-device-height: 680px) and (-webkit-min-device-pixel-ratio: 1) {
//     display: unset !important;
//   }
// }
