<meta charset="utf-8" />
<title>{{site.name}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{{ '/assets/css/normalize.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<style type="text/css" class="fonts"
    data-fonts-and-variations="custom_354|n4">
    @font-face {
        font-family: 'custom_354';
        font-style: normal;

        font-weight: 400;

        src: url("/api/fonts/574ae0f64425f27164309caf/n4/woff?domain=y78.fr&md5=loJTpbWExJwzQIL3EwlhtA") format('woff');
    }
</style>
{% seo %}