---
---

@import "ui/fade-animation.scss";
@import "util/mobileutil.scss";
@import "ui/timeline.scss";

// Pages
@import "pages/home.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.hidden {
  display: none !important;
}
body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
