---
---

@import 'ui/theme.scss';
@import 'ui/background.scss';
@import 'ui/preloader.scss';
@import 'ui/fade-animation.scss';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.hidden{
  display: none !important;
}