<head>
    {% include head.html %}
</head>

<body>

    <div class="tablet-only">
        {% include mobilenav.html %}
    </div>

    <div id="info-card">
        <div class="home-gap"></div>
        <div class="inner-card container">
            {% if site.data.aboutme.image_url %}
            <img src="{{site.data.aboutme.image_url}}" alt="Profile photo" class="profile-pic">
            {% endif %}
            <h1 class="name">{{site.data.aboutme.name}}</h1>
            <h3 class="subtitle">{{site.data.aboutme.subtitle}}</h3>
            <p class="description">{{site.data.aboutme.description}}</p>
            <div class="home-nav">
                {% for item in site.data.navigation %}
                {% if item.show_on_home %}
                <a class="home-nav-item" href="{{item.route}}">{{item.name}}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% include foot.html %}
</body>