<head>
    {% include head.html %}
</head>

<body>
    {% include nav.html %}

    <div class="appear container" style="text-align:center">
        <div style="height:10%"></div>
        <h1>Blog Posts</h1>
        <br><br>
        <div class="timeline-wrapper posts-timeline">
            <ul class="timeline timeline-centered">
                {% for post in site.posts %}
                <li class="timeline-item">
                    <a href="{{post.url}}" style="color:#000">
                        <div class="timeline-info">
                            <span>{{post.date}}</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">{{post.title}}</h3>
                            <p>{{post.description}}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>

        </div>

    </div>


    {% include foot.html %}

</body>